* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-image: url(/img/header.jpg);
    padding-top: 0px;
    text-align: center;
    font-size: 35px;
    color: white;
    height: 70%;
  }
  
  /* Container for flexboxes */
  section {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Style the navigation menu */
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 5px;
    
  }
  /*text start*/
  .contheading{
    padding-left: 10%;
  }
  /*text end*/
  /*image start*/
  img {
    max-width:max-content;
    height: auto;
  } 
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  } 
  /*image end*/
  /* unvisited link */
  a:link, a:visited {
    background-color: rgb(247, 245, 245);
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: green;
    color: white;
  }
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style the content */
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  /* Style the footer */
  footer {
    background-color: rgb(203, 154, 154);
    padding: 10px;
    text-align: left;
    color: white;
  }
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }